{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Contrat</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Contrats/ Tous</li>
                </ol>
        </div>
{% endblock %}

{% block container %}
    <h1>Liste des Contrats</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date ouverture</th>
                <th>Mode paiment</th>
                <th>Etat contrat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('com_Contrat_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dateOuvert %}{{ entity.dateOuvert|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.mPaiment }}</td>
                <td>{{ entity.etatContart }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('com_Contrat_show', { 'id': entity.id }) }}">afficher</a>
                    </li>
                    <li>
                        <a href="{{ path('com_Contrat_edit', { 'id': entity.id }) }}">modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('com_Contrat_new') }}">
                Ajouter nouveau contrat
            </a>
        </li>
    </ul>
    {% endblock %}
