{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Afficher Expedition Transport</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Afficher Expedition Transport</li>
                </ol>
        </div>
{% endblock %}


{% block container %}
    
    <a href="{{ path('com_ExpeTrans') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a>
   <div style="float:right;">
       <a href="{{ path('com_ExpeTrans_edit', { 'id': entity.id }) }}">
        <button class="btn btn-info" style="width:100px;">Editer</button>
       </a>
   </div>
    <br>
<div align="center"> 
    <table class="record_properties" style="width:400px;" >
        <tbody>
            <tr>
                <th style="width:35%;">Id</th>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ entity.dateCreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nbreexpedition</th>
                <td>{{ entity.nbreExpedition }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    {{ form(delete_form) }}
{% endblock %}
