{% extends '::base.html.twig' %}

{% block body -%}
    <h1>UniteManu</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Typeunite</th>
                <td>{{ entity.typeUnite }}</td>
            </tr>
            <tr>
                <th>Poidsunite</th>
                <td>{{ entity.poidsUnite }}</td>
            </tr>
            <tr>
                <th>Volumeunite</th>
                <td>{{ entity.volumeUnite }}</td>
            </tr>
            <tr>
                <th>Nbrcolisplt</th>
                <td>{{ entity.nbrColisPlt }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_unite_manu') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('com_unite_manu_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
