{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Afficher Prix</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Afficher Prix</li>
                </ol>
        </div>
{% endblock %}


{% block container %}
    
    <a href="{{ path('com_table_prix') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a>
   <div style="float:right;">
       <a href="{{ path('com_table_prix_edit', { 'id': entity.id }) }}">
        <button class="btn btn-info" style="width:100px;">Editer</button>
       </a>
   </div>
    <br>
<div align="center"> 
    <table class="record_properties" style="width:400px;" >
        <tbody>
            <tr>
                <th style="width:35%;">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rubrique</th>
                <td>{{ entity.rub }}</td>
            </tr>
            <tr>
                <th>Sous Trajet</th>
                <td>{{ entity.sTrajet }}</td>
            </tr>
            <tr>
                <th>Type de Valorisation</th>
                <td>{{ entity.idTVal }}</td>
            </tr>
            <tr>
                <th>Valeur Min</th>
                <td>{{ entity.valeurMin }}</td>
            </tr>
            <tr>
                <th>Valeur Max</th>
                <td>{{ entity.valeurMax }}</td>
            </tr>
            <tr>
                <th>TVA</th>
                <td>{{ entity.tva }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    {{ form(delete_form) }}
{% endblock %}
