{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Afficher Affectation Voyage / Vehicule</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Afficher Affectation Voyage / Vehicule</li>
                </ol>
        </div>
{% endblock %}


{% block container %}
    
    <a href="{{ path('com_vehi_traj_voyg') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a>
   <div style="float:right;">
       <a href="{{ path('com_vehi_traj_voyg_edit', { 'id': entity.id }) }}">
        <button class="btn btn-info" style="width:100px;">Editer</button>
       </a>
   </div>
    <br>
<div align="center"> 
    <table class="record_properties" style="width:400px;" >
        <tbody>
            <tr>
                <th style="width:35%;">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Voyage</th>
                <td>{{ entity.voyage }}</td>
            </tr>
            <tr>
                <th>Trajet</th>
                <td>{{ entity.trajet.libelleTrajet }}</td>
            </tr>
            <tr>
                <th>Vehicule</th>
                <td>{{ entity.vehicule.matriculeVeh }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <br>
    {{ form(delete_form) }}
{% endblock %}
