{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Liste des Types de Valorisation</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Liste des Types de Valorisation</li>
                </ol>
        </div>
{% endblock %}

{% block container%}
    <a href="{{ path('com_type_valeur_new') }}">
        <button class="btn btn-info">
         Nouveau Element        
        </button>
    </a>
<div class="block-flat">        
<div class="table-responsive">
    <table class="table table-bordered" id="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Max Type</th>
                <th>Min Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('com_type_valeur_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelleTVal }}</td>
                <td>{{ entity.maxType }}</td>
                <td>{{ entity.minMin }}</td>
                <td align="center">
                    <a href="{{ path('com_type_valeur_show', { 'id': entity.id }) }}" class="label label-success">
                            <i class="fa   fa-folder-open"></i></a>
                    <a href="{{ path('com_type_valeur_edit', { 'id': entity.id }) }}" class="label label-info">
                        <i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
