{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cheque list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcheque</th>
                <th>Titrecheque</th>
                <th>Montantchq</th>
                <th>Dateecheance</th>
                <th>Naturecheque</th>
                <th>Etatcheque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('com_Cheque_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.numCheque }}</td>
                <td>{{ entity.titreCheque }}</td>
                <td>{{ entity.montantChq }}</td>
                <td>{% if entity.dateEcheance %}{{ entity.dateEcheance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.natureCheque }}</td>
                <td>{{ entity.etatCheque }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('com_Cheque_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('com_Cheque_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('com_Cheque_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
