{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
    <div class="page-head">
        <h2>Editer Reglement</h2>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">PARAMETRES</a></li>
            <li Afficher class="active">Editer Reglement</li>
        </ol>
    </div>
{% endblock %}

{% block container%}
    <a href="{{ path('com_daufin_com_reglement_all') }}">
        <button class="btn btn-default">
            <i class="fa  fa-reply fa-1x"></i>Retour à la liste
        </button>
    </a>

    <div class="row">


        <div class="col-md-2 col-md-offset-0">
            <div class="form-group">
                <label for="MontantReglement">Montant Reglement:</label>
                <input type="number" class="form-control" id="MontantReglement" onChange="verifMontant();" value="{{Reglement.montantReglement}}">
            </div>
        </div>

        <div class="col-md-2 col-md-offset-0">
            <div class="form-group">
                <label for="ModeReglement">Mode Reglement:</label>
                <select class="form-control" id="ModeReglement" onchange="ISEnableRef_Paiement();">

                    <option value="0" {% if Reglement.modeReglement=='Cheque' %} selected {% endif %}>Cheque</option>
                    <option value="0" {% if Reglement.modeReglement=='Traite' %} selected {% endif %}>Traite</option>
                    <option value="-2" {% if Reglement.modeReglement=='Espece' %} selected {% endif %}>Espece</option>
                </select>
            </div>
        </div>

        <div class="col-md-2 col-md-offset-0">
            <div class="form-group">
                <label for="RefPaiement">Référence paiement:</label>
                <input type="text" onChange="verifMontant();" class="form-control" id="RefPaiement" {% if Reglement.modeReglement=='Espece' %} disabled="disabled" {% endif %} value="{{Reglement.refReglement}}">
            </div>
        </div>

        <div class="col-md-2 col-md-offset-0">
            <div class="form-group">
                <label for="dateEffet">Date Effet:</label>
                <input type="text" class="form-control datetime" size="20"  id="dateEffet" value="{{Reglement.dateEffet|date('Y-m-d H:i:s')}}" /> 

            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-md-3 col-md-offset-0">
            <select id="ListFacture" onchange="ISenableButton(this);" multiple="multiple" name="ListFacture[]" class="form-control" style=" width: 100%;">
                {% for item in AllFactures %}
                    <option value="{{item.ID}}" > {{item.Code}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-5">
            <button id="ButtonShowInput" class="btn btn-danger btn-lg" onclick="showInput();" disabled="disabled">Saisir le(s) montant(s) de(s) facture(s)</button>
        </div>
    </div>
    <div class="row">

        <div class="col-md-10">
            <div id="form_MontantFactures">

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 col-md-offset-4">
            <button id="ButtonSauvegarder" class="btn btn-success btn-lg btn-block" onclick="Sauvegarder();">Sauvegarder</button>
        </div>
    </div>
    <script type="text/javascript">
        function disableEdit() {
            document.getElementById("ListFacture").disabled = true;
            document.getElementById("ButtonShowInput").disabled = true;
        }
        function enableEdit() {
            document.getElementById("ListFacture").disabled = false;
        }
        function ISenableSave(argument) {
            document.getElementById("ButtonSauvegarder").disabled = (argument);
        }
        document.getElementById("ButtonSauvegarder").disabled = true;
    </script>
    <script type="text/javascript">
        function getSelectValues(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.value);
                }
            }
            return result;
        }
        function getSelectTexts(select) {
            var result = [];
            var options = select && select.options;
            var opt;

            for (var i = 0, iLen = options.length; i < iLen; i++) {
                opt = options[i];

                if (opt.selected) {
                    result.push(opt.text);
                }
            }
            return result;
        }
        function ISenableButton(c) {
            var ListFacture = getSelectValues(document.getElementById("ListFacture"));
            if (ListFacture.length >= 1)
            {
                document.getElementById("ButtonShowInput").disabled = false;
            }
            else
            {
                document.getElementById("ButtonShowInput").disabled = true;
            }
            var id = '#form_MontantFactures';
            $(id).html('');
            ISenableSave(true);
        }
        function showInput() {
            IDFactures = document.getElementById("ListFacture");
            // var ListTextsFacture = getSelectTexts(IDFactures);
            var idRegl = '{{Reglement.id}}';

            $.ajax({
                url: Routing.generate('com_daufin_com_reglement_Edit_search_montant'),
                type: "POST",
                data: {
                    "idRegl": idRegl
                },
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    if (obj.hasOwnProperty('codeError'))
                    {
                        alert("ERROR : " + obj.message);
                    }
                    else
                    {
                        var id = '#form_MontantFactures';

                        $(id).html('');
                        $(id).append('<label>Montant en DH : </label>');
                        $(id).append('<br>');
                        var content = '';
                        for (var i = 0; i < obj.length; i++)
                        {
                            content += '<div class="col-md-2 col-md-offset-0">';
                            content += '<input type="checkbox" onclick="HandleClick(this);" name="ListeMontant[]" value="' + obj[i].IDFacture + '"/> ';
                            content += '<label for="facture' + i + '" >' + obj[i].CodeFacture + '   : </label> ';
                            content += ' <label id="labelTTC' + obj[i].IDFacture + '" for="' + obj[i].TTC + '" > (TTC      :' + obj[i].TTC + ')  </label>  ';
                            content += '</div> <div id="error' + obj[i].IDFacture + '"></div>';
                            content += '<div class="col-md-3 col-md-offset-0">';
                            content += '  <input class="form-control" type="number" disabled="disabled" onChange="verifMontant();" id="' + obj[i].IDFacture + '" value="' + obj[i].paye + '" /> ';

                            content += ' <label id="labelRest' + obj[i].IDFacture + '" for="' + obj[i].rest + '" >  (Le reste :' + obj[i].rest + ')</label>';
                            content += '</div> <label id="labelMax' + obj[i].IDFacture + '" for="' + obj[i].max + '" >  (Le Max :' + obj[i].max + ')</label>';
                            content += '<br>';
                        }
                        ;
                        $(id).html(content);
                        verifMontant();
                    }
                }
            });


        }


    </script>
    <script type="text/javascript">
        function ISEnableRef_Paiement() {
            var mode = document.getElementById("ModeReglement");
            var valMode = mode.options[mode.selectedIndex].value;
            if (valMode == -2)
            {
                document.getElementById("RefPaiement").disabled = true;
                return true;//activer le boutton Save
            }
            else if (valMode == -1)
            {
                return false;
            }
            else
            {
                document.getElementById("RefPaiement").disabled = false;
                return (document.getElementById("RefPaiement").value !== '');
            }
        }
        function HandleClick(ChBox) {
            var name = "";
            name = ChBox.value;
            document.getElementById(name).disabled = (ChBox.checked != true);
            verifMontant();
        }
        function verifMontant() {
            var montants = [];
            var mt;
            CheckBoxs = document.getElementsByName('ListeMontant[]');
            for (var i = 0, n = CheckBoxs.length; i < n; i++) {
                if (CheckBoxs[i].checked === true)
                {
                    mt = document.getElementById(CheckBoxs[i].value).value;
                    montants.push(mt);
                    var ttc = document.getElementById("labelTTC" + CheckBoxs[i].value + "").htmlFor;
                    var rest = document.getElementById("labelRest" + CheckBoxs[i].value + "").htmlFor;
                    var max = document.getElementById("labelMax" + CheckBoxs[i].value + "").htmlFor;
                    if ((mt > parseFloat(ttc)) || (mt - parseFloat(max)) > 0) {
                        ShowError(CheckBoxs[i].value);
                    }
                    else
                    {
                        HideError(CheckBoxs[i].value);
                    }
                }
            }
            if (document.getElementById("MontantReglement").value !== '') {
                var s = 0;
                var a = parseFloat(document.getElementById("MontantReglement").value);
                for (i = 0; i < montants.length; i++) {

                    s = s + parseFloat(montants[i]);

                }
                if (a === s && ISEnableRef_Paiement()) {
                    ISenableSave(false);
                }
                else
                {
                    ISenableSave(true);
                }
            }
            else
            {
                ISenableSave(true);
            }
        }
    </script>
    <script type="text/javascript">
        function ShowError(id)
        {
            var container = document.getElementById("error" + id);
            while (container.hasChildNodes())
            {
                container.removeChild(container.lastChild);
            }
            container.innerHTML = "<div class='alert alert-danger' style='float:left' role='alert'><span class='glyphicon glyphicon-exclamation-sign' aria-hidden='true'></span><span class='sr-only'>Error:</span>Le montant est incorrect !</div>";
        }
        function HideError(id)
        {
            var container = document.getElementById("error" + id);
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
        }
    </script>
    <script type="text/javascript">
        function Sauvegarder() {
            var mode = document.getElementById("ModeReglement");
            var ModeRegl = mode.options[mode.selectedIndex].text;
            var montantRegl = document.getElementById("MontantReglement").value;
            var refRegl = document.getElementById("RefPaiement").value;
            var DateEffet = document.getElementById("dateEffet").value;
            var idRegl = '{{Reglement.id}}';

            var montantsFactures = [];
            var IDFactures = [];
            CheckBoxs = document.getElementsByName('ListeMontant[]');
            for (var i = 0, n = CheckBoxs.length; i < n; i++) {
                if (CheckBoxs[i].checked === true) {
                    montantsFactures.push(document.getElementById(CheckBoxs[i].value).value);
                    IDFactures.push(CheckBoxs[i].value);
                }
            }

            $.ajax({
                url: Routing.generate('com_daufin_com_reglement_Edit_create'),
                type: "POST",
                data: {
                    "montantsFactures": montantsFactures,
                    "IDFactures": IDFactures,
                    "ModeRegl": ModeRegl,
                    "montantRegl": montantRegl,
                    "refRegl": refRegl,
                    "DateEffet": DateEffet,
                    "idRegl": idRegl,
                },
                success: function (data)
                {
                    var obj = jQuery.parseJSON(data);
                    if (obj.hasOwnProperty('codeError')) {
                        alert("ERROR : " + obj.message);
                        return false;
                    }
                    alert("SUCCES : " + obj.Message);
                    document.location.href = "{{ path('com_RegleFacture_show', { 'id': Reglement.id }) }}";
                }
            });
        }
    </script>
{% endblock %}