{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Liste du Personnel</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Liste du Personnel</li>
                </ol>
        </div>
{% endblock %}

{% block container%}
    <h1>ReglementFacture list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecreation</th>
                <th>Montant</th>
                <th>Modereglement</th>
                <th>Refreglement</th>
                <th>Dateeffet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('com_RegleFacture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.montant }}</td>
                <td>{{ entity.modeReglement }}</td>
                <td>{{ entity.refReglement }}</td>
                <td>{% if entity.dateEffet %}{{ entity.dateEffet|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('com_RegleFacture_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('com_RegleFacture_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('com_RegleFacture_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
