{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Liste des Reglements</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Liste des Reglements</li>
                </ol>
        </div>
{% endblock %}

{% block container%}

<div class="block-flat">        
        <div class="table-responsive">
    <table class="table editable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Création</th>
                <th>Montant</th>
                <th>Mode Reglement</th>
                <th>Reference Reglement</th>
                <th>Date Effet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('com_RegleFacture_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dateCreation %}{{ entity.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.montantReglement }}</td>
                <td>{{ entity.modeReglement }}</td>
                <td>{{ entity.refReglement }}</td>
                <td>{% if entity.dateEffet %}{{ entity.dateEffet|date('Y-m-d H:i:s') }}{% endif %}</td>
                
                <td align="center">
                            <a href="{{ path('com_RegleFacture_show', { 'id': entity.id }) }}" class="label label-success">
                                    <i class="fa   fa-folder-open"></i>show</a>
                            <a href="{{ path('com_RegleFacture_edit', { 'id': entity.id }) }}" class="label label-info">
                                <i class="fa fa-pencil-square-o"></i>edit</a>
                        </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {% endblock %}
