{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
    <div class="page-head">
        <h2>Afficher Reglements Facture</h2>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">PARAMETRES</a></li>
            <li Afficher class="active">Afficher Reglements Facture</li>
        </ol>
    </div>
{% endblock %}

{% block container%}
    <a href="{{ path('com_RegleFacture_show', { 'id': idReglement }) }}">
        <button class="btn btn-default">
            <i class="fa  fa-reply fa-1x"></i>Retour
        </button>
    </a>
    <br>
    <table id="datatable" class="table table-responsive">
        <thead>
            <tr><th  colspan="7" style="font-weight: bold;font-size: 16px;text-align: center;"> Details des reglements de la facture : {{ Facture.numFacture}} </th></tr>
            <tr>
                <th style="font-weight: bold;font-size: 14px;">Code Facture</th>
                <th style="font-weight: bold;font-size: 14px;">Montant TTC</th>
                <th style="font-weight: bold;font-size: 14px;">Montant Payé</th>
                <th style="font-weight: bold;font-size: 14px;">Montant Restant</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in factures %}
                <tr>
                    <td>{{ entity.DateCreation||date('Y-m-d H:i:s') }}</td>
                    <td>{{ entity.mode }}</td>
                    <td>{{ entity.ref}}</td>
                    <td>{{ entity.MTRegl|number_format(2, '.', ',')}}</td>
                    <td>{{ entity.MTFacture|number_format(2, '.', ',')}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
