{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Réglement Factures</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Facturation</a></li>
                  <li class="active">Reglement</li>
                </ol>
        </div>
{% endblock %}
{% block container%}
    <h1>Reglement</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datereglement</th>
                <td>{{ entity.dateReglement|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ entity.dateCreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Totalmontantttc</th>
                <td>{{ entity.totalMontantTTC }}</td>
            </tr>
            <tr>
                <th>Montantreglement</th>
                <td>{{ entity.montantReglement }}</td>
            </tr>
            <tr>
                <th>Statutreglement</th>
                <td>{{ entity.statutReglement }}</td>
            </tr>
            <tr>
                <th>Modereglement</th>
                <td>{{ entity.modeReglement }}</td>
            </tr>
            <tr>
                <th>Refreglement</th>
                <td>{{ entity.refReglement }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('com_reglement') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('com_reglement_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
