<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{asset('bundles/comdaufin/images/favicon.png')}}">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/comdaufin/js/jquery.gritter/css/jquery.gritter.css')}}" />
        <link rel="stylesheet" href="{{asset('bundles/comdaufin/fonts/font-awesome-4/css/font-awesome.min.css')}}">
	<!-- Bootstrap core CSS -->
	<link href="{{asset('bundles/comdaufin/js/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="{{asset('bundles/comdaufin/fonts/font-awesome-4/css/font-awesome.min.css')}}">
	<!-- Custom styles for this template -->
	<link href="{{asset('bundles/comdaufin/css/style.css')}}" rel="stylesheet" />    
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="texture">
{% block header %}
    {# 
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('imprint') }}">Mentions légales</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                <li>Bonjour, {{ app.user }}</li>
            {% else %}
                <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    #}    
{% endblock %}
{% block flash %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}

{% endblock %}
{% block rubric %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock footer %}
{% block javascripts %}

<script src="{{asset('bundles/comdaufin/js/jquery.js')}}"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{asset('bundles/comdaufin/js/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/comdaufin/js/jquery.flot/jquery.flot.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/comdaufin/js/jquery.flot/jquery.flot.pie.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/comdaufin/js/jquery.flot/jquery.flot.resize.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/comdaufin/js/jquery.flot/jquery.flot.labels.js')}}"></script>
{% endblock %}
</body>
</html>