{% extends"ComDaufinBundle::layout.html.twig"%}
{% block script %}
<script type="text/javascript">
//<![CDATA[

$(document).ready(function() {
//$('#BoutonAjouter').append("<button type='button' class='btn btn-success' style='width:100px;' onClick='AjouterClient()'>Creer</button>");
$('#div2').hide();
$('#div3').hide();
});

   $(function(){
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Get the name of active tab
      var activeTab = $(e.target).text(); 
      // Get the name of previous tab
      //var previousTab = $(e.relatedTarget).text();
      //alert(activeTab); alert(previousTab);
      if (activeTab=='Infos Client')
      {
          //var action='AjouterClient();';
          $('#BoutonAjouter').html('');
      }
      else if (activeTab=='Contrat')
      {
          //var action='AjouterContrat();';
          $('#BoutonAjouter').html('');
      }
      else if (activeTab=='Sites') 
      {
          var action='AjouterSite();';
          $('#BoutonAjouter').html('');
          $('#BoutonAjouter').append("<button type='button' class='btn btn-success' id='create' style='width:100px;' onClick='" + action + "'>Creer</button>");
          $('#Nouveau').html('');
          $('#Nouveau').append("<button type='button' class='btn btn-info' onClick='NouvSite();'>Nouveau</button>");
          $('#create').hide();
      }
      else if (activeTab=='Table des Prix')
      {
          var action='AjouterTPrix();';
          $('#BoutonAjouter').html('');
          $('#BoutonAjouter').append("<button type='button' class='btn btn-success' id='create' style='width:100px;' onClick='" + action + "'>Creer</button>");
          $('#Nouveau').html('');
          $('#Nouveau').append("<button type='button' class='btn btn-info' onClick='NouvTabPrix();'>Nouveau</button>");
          $('#create').hide();


      }
          
   });

});


//]]>
</script>  

{% endblock %}

{% block _container %}
        <div class="page-head">
                <h2>Créer Client</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Créer Client</li>
                </ol>
        </div>
{% endblock %}

{% block container %}
    
 <script type="text/javascript"> 
function ChargSecteur()
           {
                    
                                        
                    var e = document.getElementById("ville");
                    var idVille = e.options[e.selectedIndex].value;
                    
       $.ajax({
	          url: Routing.generate('com_daufin_ajax_charger_secteur'),
	          type: "POST",
	          data: { "idVille" : idVille
		        },
	          success: function(data) {
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	               var obj = jQuery.parseJSON(data);
	              $('#secteur').html('');
	              if (obj.hasOwnProperty('code')) {
			             //Show Error
			             alert("ERROR : "+obj.message);
			             return;
	              }	                
	        	  
	              for (i in obj){
	                  $('#secteur').append(
                              "<option value='" + obj[i].id + "'>" + obj[i].libelleSecteur + "</option>"
                    );
	                  }
             }	
	       });
           }
function selectedClient()
{
    var clt = document.getElementById("ClientId");
    var idClient = clt.options[clt.selectedIndex].value;
    $.ajax({
	          url: Routing.generate('com_daufin_com_Client_select_client'),
	          type: "POST",
	          data: { "idClient" : idClient
		        },
	          success: function(data) {
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	               var obj = jQuery.parseJSON(data);
	              //$('#secteur').html('');
	              if (obj.hasOwnProperty('code')) {
			             //Show Error
			             alert("ERROR : "+obj.message);
			             return;
	              }	                
	        	
	                  $('#typeClient').val(obj.typeClt);
                          $('#codeClient').val(obj.codeClt);
                          $('#raisSociale').val(obj.raisSoc);
                          $('#patente').val(obj.patente);
                          $('#regComerce').val(obj.regCom);
                          $('#idFiscale').val(obj.idFiscal);
                          $('#dirGeneral').val(obj.dirGenerl);
                          $('#dirFinancier').val(obj.dirFinanc);
                          $('#telClient').val(obj.telClt);
                          $('#faxClient').val(obj.faxClt);
                          $('#contact').val(obj.contact);
                          $('#adresClient').val(obj.adresse);         
             }	
	       });
               
    $.ajax({
	          url: Routing.generate('com_daufin_com_Client_charge_contrat'),
	          type: "POST",
	          data: { "idClient" : idClient
		        },
	          success: function(data) {
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	              var obj = jQuery.parseJSON(data);
	              if (obj.hasOwnProperty('code')) {
			             //Show Error
			            alert("ERROR : "+obj.message);
                                    $('#ContratId').html('');
                                    $('#ContratId').append("<option>---SELECTIONNER---</option>");
			             return;
	              }	                
	        $('#ContratId').html('');
                $('#ContratId').append(
                        "<option>---SELECTIONNER---</option>"
                             );
                for (i in obj){
                    $('#ContratId').append(
                        "<option value='" + obj[i].id + "'>" + obj[i].id + "</option>"
                             );
	        }

             }
	       });

    $.ajax({
	          url: Routing.generate('com_daufin_com_Client_charge_site'),
	          type: "POST",
	          data: { "idClient" : idClient
		        },
	          success: function(data) {
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	              var obj = jQuery.parseJSON(data);
	              if (obj.hasOwnProperty('code')) {
			             //Show Error
			            alert("ERROR : "+obj.message);
                                    $('#body_Site').html('');
			             return;
	              }	                
	       // alert(data);
                $('#body_Site').html('');
                for (i in obj)
                {
                    $('#body_Site').append(
                             "<tr>" +   
	                      "<td>" + obj[i].LIBELLE_SITE + "</td>" +
                              "<td>" + obj[i].ADRES_SITE + "</td>" +
                              "<td>" + obj[i].Code_Secteur + '-' + obj[i].LIBELLE_SECTEUR + "</td>" +
                              "</tr>"     );
	        }

             }
	       });

}

function selectedContrat()
{
    var cntrt = document.getElementById("ContratId");
    var idContrat = cntrt.options[cntrt.selectedIndex].value;
    //alert(idContrat);
    $.ajax({
	          url: Routing.generate('com_daufin_com_Client_select_contrat'),
	          type: "POST",
	          data: { "idContrat" : idContrat
		        },
	          success: function(data) {
                     // alert('success');
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
                        var obj = jQuery.parseJSON(data);
//alert(data);
                        if (obj.hasOwnProperty('code')) {
                                      //Show Error
                                      alert("ERROR : "+obj.message);
                                      return;
	              }	                
	        	
	                  $('#dateOuvertCont').val(obj.dateOuvert);
                          $('#dateFermCont').val(obj.dateFerm);
                          $('#MPaiment').val(obj.modePaim);
                          $('#EtContrat').val(obj.etatCont);        
             }	
	       });
    $('#contratId').val(idContrat);
    $.ajax({
	          url: Routing.generate('com_daufin_com_Client_charge_cont_tab_prix'),
	          type: "POST",
	          data: { "idContrat" : idContrat
		        },
	          success: function(data) {
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	              var obj = jQuery.parseJSON(data);
	              if (obj.hasOwnProperty('code')) {
			             //Show Error
			            alert("ERROR : "+obj.message);
                                    $('#body_tab_prix').html('');
			             return;
	              }	                
	        //alert(data);
                $('#body_tab_prix').html('');
                for (i in obj)
                {
                    $('#body_tab_prix').append(
                             "<tr>" +   
	                      "<td>" + obj[i].ID_CONTART + "</td>" +
                              "<td>" + obj[i].LIBELLE_RUB + "</td>" +
                              "<td>" + obj[i].LIBELLE_T_VAL + "</td>" +
                              "<td>" + obj[i].VILLE_Depart + '-' + obj[i].VILLE_Arrivee + "</td>" +
                              "<td>" + obj[i].VALEUR+ "</td>" +
                              "<td>" + obj[i].TVA + "</td>" +
                              "<td>" + obj[i].VALEUR_MAX + "</td>" +
                              "<td>" + obj[i].VALEUR_MIN + "</td>" +
                              "<td>" + obj[i].DATE_OUVERTURE + "</td>" +
                              "<td>" + obj[i].DATE_FERMETURE + "</td>" +
                              "<td>" + obj[i].ETAT + "</td>" +
                              "</tr>"     );
	        }

             }
	       });
               
}
           

function AjouterSite()
{
        var idSecteur = document.getElementById("secteur").value;
        var LibelleSite = document.getElementById("LibSite").value;
        var AdresseSite = document.getElementById("AdresSite").value;
        var idClient = document.getElementById("ClientId").value;
        
        $.ajax({
	        url: Routing.generate('com_daufin_com_Client_create_site'),
	        type: "POST",
                data: {   "idSecteur" : idSecteur,
                          "LibelleSite" : LibelleSite,
                          "AdresseSite" : AdresseSite,
                          "idClient" : idClient
		        },
                success: function(data) {
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	               var obj = jQuery.parseJSON(data);
	             //(( $('#secteur').html('');
	              if (obj.hasOwnProperty('code')) {
			$('#body_Site').append(
                             "<tr>" +   
	                      "<td>" + obj.LibelleSite + "</td>" +
                              "<td>" + obj.AdresseSite + "</td>" +
                              "<td>" + obj.LibelleSecteur + "</td>" +
                              "</tr>" 
                );             //Show Error
			             alert("ERROR : "+obj.message);
			             return;
	              }
                    alert('Bien Enregistrer');

                      $('#body_Site').append(
                             "<tr>" +   
	                      "<td>" + obj.LibelleSite + "</td>" +
                              "<td>" + obj.AdresseSite + "</td>" +
                              "<td>" + obj.LibelleSecteur + "</td>" +
                              "</tr>" 
                );
 
                    }	
	    });
  $('#div2').hide(200);
  $('#create').hide();
                    
}

function AjouterTPrix()
{
        var idStrajet = document.getElementById("strajet").value;
        var idRubrique = document.getElementById("rubrique").value;
        var idTvale = document.getElementById("tvale").value;
        var Vale = document.getElementById("valeur").value;
        var TVA_Prix = document.getElementById("tva_tprix").value;
        var Val_Max = document.getElementById("vmax").value;
        var Val_Min = document.getElementById("vmin").value;
        var Date_Ouvert = document.getElementById("date_Ouvert").value;
        var Date_Ferm = document.getElementById("date_Ferm").value;
        var idContrat = document.getElementById("contratId").value;
        var Etat_Prix = document.getElementById("etat").value;
        
        $.ajax({
	        url: Routing.generate('com_daufin_com_Client_create_cont_tab_prix'),
	        type: "POST",
                data: {   "idStrajet" : idStrajet,
                          "idRubrique" : idRubrique,
                          "idTvale" : idTvale,
                          "Vale" : Vale,
                          "TVA_Prix" : TVA_Prix,
                          "Val_Max" : Val_Max,
                          "Val_Min" : Val_Min,
                          "Date_Ouvert" : Date_Ouvert,
                          "Date_Ferm" : Date_Ferm,
                          "idContrat" : idContrat,
                          "Etat_Prix" : Etat_Prix
		        },
                success: function(data) {
                      
	             //(success) do something...
	             //variable "data" contains data returned by the controller. 
	               var obj = jQuery.parseJSON(data);
	             //(( $('#secteur').html('');
	              if (obj.hasOwnProperty('code')) {
			             //Show Error
			             alert("ERROR : "+obj.message);
			             return;
	              }
                        alert('Bien Enregistrer');

                      $('#body_tab_prix').append(
                              "<tr>" +   
    	                      "<td>" + obj.idContrat + "</td>" +
                                  "<td>" + obj.LibelleRub + "</td>" +
                                  "<td>" + obj.LibelleTValeur + "</td>" +
                                  "<td>" + obj.VilleDep + '-' + obj.VilleAriv + "</td>" +
                                  "<td>" + obj.Valeur + "</td>" +
                                  "<td>" + obj.TVA + "</td>" +
                                  "<td>" + obj.VMax + "</td>" +
                                  "<td>" + obj.VMin + "</td>" +
                                  "<td>" + obj.DateOuvert + "</td>" +
                                  "<td>" + obj.DateFerm + "</td>" +
                                  "<td>" + obj.Etat + "</td>" +
                                  "</tr>"     );

 
                    }	
	    });
   $('#div3').hide(200);
   $('#create').hide();
}

function NouvSite()
{
$("#div2").show(500);    
//Sites
$("#LibSite").val('');
$("#AdresSite").val('');
//$('#body_Site').html('');
$('#create').show();
}

function NouvTabPrix()
{
$("#div3").show(500);
$("#valeur").val('');
$("#tva_tprix").val('');
$("#vmax").val('');
$("#vmin").val('');
$("#date_Ouvert").val('');
$("#date_Ferm").val('');
$("#ctrat").val('');
$("#etat").val('');
//$('#body_tab_prix').html('');   
$('#create').show();
}
 </script>
    <a href="{{ path('com_Client') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a> 
        <p></p>
<div class="block-flat">
   
    <div style='float:right'>
        <table class="no-border">
            <tbody class="no-border-x no-border-y">
            <tr>
                <td><label class="required">Client</label></td>
                <td style='width:200px;'>
                    <select class="select2" id='ClientId' onClick='selectedClient();'>
                        <option>---SELECTIONNER---</option> 
                    {% for entity in entities %}  
                        <option value="{{ entity.id }}"> {{ entity.rSociale }}</option>
		    {% endfor %}
                  </select>
                </td>
                <td id='BoutonAjouter'></td>
                <td id='Nouveau'></td>
            </tr>
            </tbody>
        </table>
    </div>   
    <div class="tab-container">
        <ul id='tab_client' class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#Client">Infos Client</a></li>
        <li class=""><a data-toggle="tab" href="#contrat">Contrat</a></li>
        <li class=""><a data-toggle="tab" href="#sites">Sites</a></li>
        <li class=""><a data-toggle="tab" href="#T_Prix">Table des Prix</a></li>
        </ul>
    <div class="tab-content">
        <div id="Client" class="tab-pane cont active">
            <table class="no-border">
                <thead></thead>
                <tbody class="no-border-x no-border-y">
                    <tr>
                        <td>
            <label class="required">Type Client</label>
            <input type="texte" value="Compte" id="typeClient" class="form-control parsley-validated"/>                           
                        </td>
                        <td></td>
                        <td>
            <label class="required">Code Client </label>
            <input type="texte" id="codeClient" class="form-control parsley-validated"/>                           
                        </td>
                    </tr>            
                    <tr>
                        <td>
            <label class="required">Raison Sociale</label>
            <input type="texte" id="raisSociale" class="form-control parsley-validated"/>                            
                        </td>
                        <td>
            <label class="required">Patente</label>                
            <input type="texte" id="patente" class="form-control parsley-validated"/>                          
                        </td>
                        <td>
            <label class="required">Registre de Commerce</label>                            
            <input type="texte" id="regComerce" class="form-control parsley-validated"/>                          
                        </td>
                    </tr>
                    <tr>                        
                        <td>
            <label class="required">Identifiant Fiscale </label>                            
            <input type="texte" id="idFiscale" class="form-control parsley-validated"/>                           
                        </td>
                        <td>
            <label class="required">Directeur Général</label>                            
            <input type="texte" id="dirGeneral" class="form-control parsley-validated"/>                           
                        </td>
                        <td>
            <label class="required">Directeur Financier</label>                            
            <input type="texte" id="dirFinancier" class="form-control parsley-validated"/>                       
                        </td>
                    </tr>
                    <tr>
                        <td>
            <label class="required">Téléphone</label>                            
            <input type="texte" id="telClient" class="form-control parsley-validated"/>                            
                        </td>
                        <td>
            <label class="required">Fax</label>                            
            <input type="texte" id="faxClient" class="form-control parsley-validated"/>                            
                        </td>
                        <td>
            <label class="required">Contact</label>                            
            <input type="texte" id="contact" class="form-control parsley-validated"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
            <label class="required">Adresse</label>
            <input type="texte" id="adresClient" class="form-control parsley-validated"/>                           
                        </td>
                        <td id='TabName'>                   
                        </td>
                    </tr>
        
                </tbody>
            </table>
        </div>
      <div id='contrat' class="tab-pane cont">
          <div id='div1'>
          <table class="no-border">
                <thead></thead>
                <tbody class="no-border-x no-border-y">
                    <tr>
                        <td>
        <label class="required">Date d'Ouverture</label>
        <input type="date" class="form-control parsley-validated" id='dateOuvertCont'  name="dateOuvertCont"/>
        <script type="text/javascript">
                    var date = new Date();
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();

                    if (month < 10) month = "0" + month;
                    if (day < 10) day = "0" + day;

                    var today = year + "-" + month + "-" + day;
                    document.getElementById('dateOuvertCont').value = today;
        </script>
        <label class="required">Date de Fermeture</label>
        <input type="date" class="form-control parsley-validated" id='dateFermCont'/>
                        </td>
                        <td>
        <label class="required">Mode de Paiment</label>
        <select class="form-control parsley-validated" name="MPaiment" id='MPaiment'>
            <option value="Espece">Espece</option>
            <option value="Cheque">Cheque</option>    
        </select>                    
        <label class="required">Etat de Contrat</label>
        <select class="form-control parsley-validated" name="EtContrat" id='EtContrat'>
            <option value="Activee">Activée</option>
            <option value="Desactivee">Désactivée</option>    
        
        </select>
                        </td>
                        <td>
                  <select class="select2" id='ContratId' onClick='selectedContrat();'>
                        <option>---SELECTIONNER---</option>
                  </select>
                        </td>
                    </tr>
                </tbody>
          </table>
      </div></div>
      <div id='sites' class="tab-pane cont">
          <div id='div2'>
            <table class="no-border">
                <thead></thead>
                <tbody class="no-border-x no-border-y">
                    <tr>
                        <td>
        <label class="required">Ville</label>
        <select class="form-control parsley-validated" name="ville" id='ville' onClick='ChargSecteur()'>
                    {% for ville in villes %}
		           <option value="{{ ville.id }}"> {{ ville.libelleVille }}</option>
		    {% endfor %}
        </select>
        <label class="required">Secteur</label>
        <select class="form-control parsley-validated" name="secteur" id='secteur'>
        </select>
                        </td>
                        <td>
        <label class="required">Libelle Site</label>
        <input type="text" class="form-control parsley-validated" name="LibSite" id='LibSite'/>
        <label class="required">Adresse Site</label>
        <input type="text" class="form-control parsley-validated" name="AdresSite" id='AdresSite'/>
                        </td>
                        <td id="ContartHidden"></td>
                    </tr>
                </tbody>
        </table></div>
        <p>
        <table id='Sitetable'>
            <thead>
            <th>Libelle
            <th>Adresse Site
            <th>Secteur
            </thead>
            <tbody id='body_Site'>                
            </tbody>
        </table>
      </div>
        <div id='T_Prix' class="tab-pane cont">
            <div id='div3'>
                <table class="no-border">
                    <thead></thead>
                    <tbody class="no-border-x no-border-y">
                        <tr>
                            <td>
        <label class="required">Sous Trajet</label>
        <select class="form-control parsley-validated" name="strajet" id='strajet'>
                    {% for strajet in strajets %}
		           <option value="{{ strajet.id }}"> {{ strajet.villeDepart }}-{{ strajet.villeArrivee }}</option>
		    {% endfor %}
        </select>                                

        <label class="required">Rubrique</label>
        <select class="form-control parsley-validated" name="rubrique" id='rubrique' >
                    {% for rubrique in rubriques %}
		           <option value="{{ rubrique.id }}"> {{ rubrique.libelleRub }}</option>
		    {% endfor %}
        </select>                                

        <label class="required">Type de Valorisation</label>
        <select class="form-control parsley-validated" name="tvale" id='tvale'>
                    {% for valtype in valtypes %}
		           <option value="{{ valtype.id }}"> {{ valtype.libelleTVal }}-[{{ valtype.minMin }}=>{{ valtype.maxType }}]</option>
		    {% endfor %}
        </select>                                
                            </td>
                            <td>
        <label class="required">Valeur</label>
        <input type="text" id='valeur' class="form-control parsley-validated" name="valeur"/>
        <label class="required">TVA</label>
        <input type="text" id='tva_tprix' class="form-control parsley-validated" name="tva_tprix"/>
        <label class="required">Valeur Max</label>
        <input type="text" id='vmax' name="vmax" class="form-control parsley-validated"/>
                            </td>
                            <td>
        <label class="required">Valeur Min</label>
        <input type="text" id='vmin' name="vmin" class="form-control parsley-validated"/>
        <label class="required">Date Ouverture</label>
        <input type="date" id='date_Ouvert' name="date_Ouvert" class="form-control parsley-validated"/>
        <label class="required">Date Fermeture</label>
        <input type="date" id='date_Ferm' name="date_Ferm" class="form-control parsley-validated"/>
                            </td>
                            <td>
        <label class="required">Contrat</label>
        <input type="text" id="contratId" name="contratId" class="form-control parsley-validated"/>
        <label class="required">Etat</label>
      
            <select class="form-control parsley-validated" id="etat" name="etat">
               <option value="Activee" selected="selected">Activée</option>
               <option value="Desactivee">Désactivée</option>    
        
        </select>
        
                            </td>
                        </tr>
                    </tbody>
                </table>
         </div>
        <p>
        <table id='Prixtable'>
            <thead>
            <th>Contrat
            <th>Rubrique
            <th>Type Val
            <th>S_Trajet
            <th>Valeur
            <th>TVA
            <th>Valeur Max
            <th>Valeur Min
            <th>Date Ouvert
            <th>Date Fermet
            <th>Etat
            </thead>
            <tbody id='body_tab_prix'>                
            </tbody>
        </table>
        </div>
    </div>
    </div>

</div>
  
{% endblock %}
