{% extends"ComDaufinBundle::layout.html.twig"%}

{% block _container %}
        <div class="page-head">
                <h2>Afficher Voyage</h2>
                <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">PARAMETRES</a></li>
                  <li class="active">Afficher Voyage</li>
                </ol>
        </div>
{% endblock %}


{% block container %}
    
    <a href="{{ path('com_voyage') }}">
        <button class="btn btn-default">
         <i class="fa  fa-reply fa-1x"></i>Retour à la liste         
        </button>
    </a>
   <div style="float:right;">
       <a href="{{ path('com_voyage_edit', { 'id': entity.id }) }}">
        <button class="btn btn-info" style="width:100px;">Editer</button>
       </a>
   </div>
    <br>
<div align="center"> 
    <table class="record_properties" style="width:400px;" >
        <tbody>
            <tr>
                <th style="width:35%;">Code Voyage</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date Planification</th>
                <td> {% if entity.datePlanif is not empty %} 
                       {{ entity.datePlanif|date('Y-m-d H:i:s') }}
                     {% endif %}  
                       </td>
            </tr>
            <tr>
                <th>Etat de Voyage</th>
                <td>{{ entity.etatVoyage }}</td>
            </tr>
            <tr>
                <th>Date de Validation</th>
                <td> {% if entity.dateValid is not empty %} 
                       {{ entity.dateValid|date('Y-m-d H:i:s') }}
                       {% endif %}  
                       </td>
            </tr>
        </tbody>
    </table>
</div>
    <br>
    {{ form(delete_form) }}
{% endblock %}
